body {
  font-family: "Roboto";
  font-weight: bold;
  background-color: #dedede;
  max-width: 920px;
  margin: auto;
}

input {
  display: block;
  padding: .5rem;
  border-radius: 6px;
  border: none;
  margin-block: .5rem;
}

button {
  margin-inline: 1rem;
}

li {
  list-style: none;
  margin-block: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

label {
  text-align: center;
}